{% load static %}
<div
  class="hidden md:block flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto dark"
>
  <h2 class="text-xl font-semibold text-center text-gray-100">
    {{company.name}}
  </h2>
  <div class="flex flex-col justify-between ">
    <aside>
      <div class="flex flex-col mt-12 gap-4">
        {% for i in navbar %}
       
          {% include "../components/icon_button.html" with id=i.title colors=colors.light href=i.href title=i.title icon=i.icon %}
 
        {% endfor %}
      </div>
    </aside>
  </div>
</div>

