{% load crispy_forms_tags %}
{% load custom_tags %}
<table class="tg w-full" >
    <colgroup>
        <col style="/* width: 1.5rem */">
        <col style="/* width: 5% */">
        <col style="/* width: 28% */">
        <col style="/* width: 13% */">
        <col style="/* width: 8% */">
        <col style="/* width: 8% */">
        <col style="/* width: 7% */">
        <col style="/* width: 8% */">
        
    </colgroup>
    <thead>
    <tr>
        <th class="tg-fymr" colspan="8">Company Information</th>
        
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-fymr" colspan="2">Addres</td>
        <td class="tg-0pky" colspan="2">{{company.address}}</td>
        <td class="tg-fymr">Person</td>
        <td class="tg-0pky" colspan="3">{{company.person}}</td>
        
    </tr>
    <tr>
        <td class="tg-fymr" colspan="2">Telephone</td>
        <td class="tg-0pky" colspan="2">{{company.telephone}}</td>
        <td class="tg-fymr">Tax Number</td>
        <td class="tg-0pky" colspan="3">{{company.taxnumber}}</td>
        
    </tr>
    <tr>
        <td class="tg-fymr" colspan="2">Email</td>
        <td class="tg-0pky" colspan="2">{{company.email}}</td>
        <td class="tg-fymr">Bank Account</td>
        <td class="tg-0pky" colspan="3">{{company.bankAccount}}</td>
        
    </tr>
     <tr>
        <th class="tg-fymr" colspan="8">Orders</th>
        
    </tr>
    <tr>
        <td class="tg-0pky"></td>
        <td class="tg-fymr">Order No</td>
        <td class="tg-7btt">Products</td>
        <td class="tg-6ic8">1x Price</td>
        <td class="tg-7btt">Quantity</td>
        <td class="tg-6ic8">Price {{currency}}</td>
        <td class="tg-6ic8">Vat %{{vat}}</td>
        <td class="tg-6ic8">Total Cost {{currency}}</td>
        
    </tr>
    {% for order in orders %}
        {% for item in order.items %}
        <tr>
            <td class="tg-fymr">{{ forloop.parentloop.counter }}.{{ forloop.counter }}</td>
            <td class="tg-0pky">{{order.order_no}}</td>
            <td class="tg-0pky">{{item.product.name}}</td>
            <td class="tg-dvpl">{{item.price | floatformat }} </td>
            <td class="tg-c3ow">{{item.quantity}}</td>
            <td class="tg-dvpl">{{item.total_price | floatformat}}</td>
            <td class="tg-dvpl"></td>
            <td class="tg-dvpl"></td>
        </tr>
        {% endfor %}
         <tr>
            <td class="tg-fymr" colspan="5"></td>
            <td class="tg-dvpl font-bold">{{order.price | floatformat }}</td>
            <td class="tg-dvpl font-bold">{{order.vat | floatformat }}</td>
            <td class="tg-dvpl font-bold">{{order.total_price | floatformat }}</td>
        </tr>
    {% endfor %}
  
    </tbody>
</table>