{% load crispy_forms_tags %}
{% load custom_tags %}
<table class="tg w-full" >
    <colgroup>
        <col style="">
        <col style="">
    </colgroup>
    <thead>
    <tr>
        <th class="tg-fymr" colspan="2">Received Payments</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-fymr">Date</td>
            <td class="tg-6ic8">Amount {{currency}}</td>
        </tr>
        
      {% for i in payments %}
        <tr>
            <td class="tg-0pky">{{i.date | gen_date}}</td>
            <td class="tg-6ic8">{{i.amount |floatformat}}</td>
        </tr>
        {% endfor %}
       
    </tbody>
</table>