{% extends 'layout.html' %} 
{% load static %}

{% block body %}
{% load crispy_forms_tags %}

<div name='customer_form' class=" bg-gray-100 h-full">
    <div class="bg-gray-800 flex flex-row items-center justify-between overflow-auto">
        <div class="rounded-tl-2xl bg-gradient-to-r from-blue-900 to-gray-800 p-2 shadow text-lg text-white"> 
            {% if mode == 'edit' %}
            <h2 class="font-bold pl-3">Update Customer</h2> 
            {% else %}
            <h2 class="font-bold pl-3">Add New Customer</h2> 
            {% endif %}
             
        </div>
        <a class="flex items-center px-4 py-2 mx-4 text-gray-800 rounded-md bg-gray-200 hover:bg-yellow-100" href="#" onClick="javascript:history.go(-1);">
            <img style="max-width:100%;height:auto;" width="20px" src="{% static 'img/back.svg' %}" alt="back"></img>
            <span class="mx-2 font-medium">Back</span>
        </a>
    </div>

    <div>
        <div class="flex flex-col md:flex-row flex-wrap my-4 gap-5 w-full justify-center">
            <div class="md:w-full mx-2 sm:mx-8 border-0 sm:border-l">
                <fieldset class="flex-1 mx-40  border border-b p-3 border-gray-800">
                    <legend class="font-medium">Customer Form</legend>
                        <div class="">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% if mode == 'edit'  %}
                                <button type="submit" class="my-2 py-2 px-8 bg-indigo-800 text-white hover:bg-indigo-700 rounded-lg">Update</button>
                                {% else %}
                                <button type="submit" class="my-2 py-2 px-8 bg-indigo-800 text-white hover:bg-indigo-700 rounded-lg">Add Order</button>
                                {% endif %}
                            </form>
                        </div>
                    </fieldset>
            </div>
        </div>
    </div>
</div>

{% endblock body %}