{% extends 'layout.html' %} 
{% load static %}

{% block body %}
{% load crispy_forms_tags %}
<div name='order_form'
  class=" bg-gray-100 h-full" x-init=""  x-data="orders" 
>
  <div class="bg-gray-800 flex flex-row items-center justify-between overflow-auto">
    <div
      class="rounded-tl-2xl bg-gradient-to-r from-blue-900 to-gray-800 p-2 shadow text-lg text-white"
    > {% if mode == 'edit' %}
      <h2 class="font-bold pl-3">Update Order</h2> 
      {% else %}
      <h2 class="font-bold pl-3">Add New Order</h2> 
     {% endif %}
     
    </div>
    <a
      class="flex items-center px-4 py-2 mx-4 text-gray-800 rounded-md bg-gray-200 hover:bg-yellow-100"
      href="#" onClick="javascript:history.go(-1);"
    >
    <img style="max-width:100%;height:auto;" width="20px" src="{% static 'img/back.svg' %}" alt="back"></img>
      
      <span class="mx-2 font-medium">Back</span>
    </a>
  </div>

<div>
    <div class="flex flex-col md:flex-row flex-wrap my-4 gap-5 w-full justify-center">
    <div class="w-full mx-2 sm:mx-8 border-0 sm:border-l w-full">
        <div class="flex flex-row gap-6 w-full ">
            <div class="flex flex-col" >
              <fieldset class="border border-b p-3 border-gray-800">
              <legend class="font-medium">Order Items</legend>
                {{orderItemForm.product |as_crispy_field}}
                <div class="hidden" id="selected_p_name_box" x-ref="selected_p_name_box"  x-init="$watch('selectedProductId', (value) => setName(value))" ></div>
                {{orderItemForm.price |as_crispy_field}}
                {{orderItemForm.quantity |as_crispy_field}}
                <button @click="addToOrderItems" class="border border-gray-800 my-2 px-4 py-2 rounded-md bg-gray-200 text-gray-800 hover:bg-gray-100" >Add Product</button>
                </fieldset>
        </div>
        <div class="flex-1">
            <form method="POST">
                {% csrf_token %}
                {% comment %} {{form|crispy}} {% endcomment %}
                <fieldset class="border border-b p-3 border-gray-800">
                  <legend class="font-medium">Order</legend>
                    <div class="flex flex-col">
                      <div class="border border-gray-800 bg-white mb-2">
                        <table class="w-full p-2 font-sans text-left text-gray-900">
                          <thead class="font-medium bg-gray-300">
                            <tr>
                              <th scope="col" class="px-2 py-1">Products</th>
                              <th scope="col" class="px-2 py-1">Quantity</th>
                              <th scope="col" class="px-2 py-1">Price 1x ({{currency}})</th>
                              <th scope="col" class="px-2 py-1 text-right">Total Price ({{currency}})</th>

                              <th scope="col" class="px-2 py-1"></th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            <template x-if="!Object.keys(order_items).length > 0">
                              <tr><td class="p-3 text-center text-gray-500" colspan="4">Your list is empty.</td></tr>
                            </template>
                            <template x-for="item in order_items">
                            <tr :id="item.id">
                              <td class="px-2 py-1" x-text="item.name"></td>
                              <td class="px-2 py-1" x-text="item.qty"></td>
                              <td class="px-2 py-1" x-text="item.price"></td>
                              <td class="px-2 py-1 text-right" x-text="(item.qty*item.price).toFixed(2)"> </td>
                              <td @click="removeItem" :id="item.id" class="px-2 py-1 "><img :id="item.id" class="w-6 h-6 cursor-pointer" src="{% static '/img/clear.svg' %}" alt="clear"></img></td>
                             </tr>
                            </template>
                             
                           
                          </tbody>
                        </table>
                      </div>
                    </div>
                  {{ orderForm.items|as_crispy_field }}
                  {{ orderForm.customer|as_crispy_field }}
                  {{ orderForm.status|as_crispy_field }}
                  {{ orderForm.date|as_crispy_field }}
                  {{ orderForm.note|as_crispy_field }}
              </fieldset>
                
                {% if mode == 'edit'  %}
                <button type="submit" class="my-2 py-2 px-8 bg-indigo-800 text-white hover:bg-indigo-700 rounded-lg">Update</button>
                {% else %}
                <button type="submit" class="my-2 py-2 px-8 bg-indigo-800 text-white hover:bg-indigo-700 rounded-lg">Add Order</button>
                {% endif %}
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<script>

document.addEventListener('alpine:init', () => {
    Alpine.data('orders', () => ({
        order_items: {}, 
        selectedProductId: '',
        selectedProductName : '', 
        selectedProductPrice : "0.0", 
        selectedProductQty: "0",
        order_items_json_stringfy: "",
        setName(id) {
                this.selectedProductId= id;
                var name = findName(id);
                
                this.selectedProductName = name;
            },
        addToOrderItems(){
          if (this.selectedProductId != "" && 
          this.selectedProductName != "" && 
          this.selectedProductPrice > 0 &&
          this.selectedProductQty> 0 ){
            var map = {
            "id": this.selectedProductId,
            "name": this.selectedProductName,
            "price": parseFloat(this.selectedProductPrice).toFixed(2),
            "qty": parseInt(this.selectedProductQty),
            "t_price" : (parseFloat(this.selectedProductPrice)*parseInt(this.selectedProductQty)).toFixed(2) 
          };
            this.order_items[this.selectedProductId] = map;
            this.selectedProductPrice = "";
            this.selectedProductQty = "";
          }
        },
        removeItem(evt){
          let id = evt.target.id;
          delete this.order_items[id];
          
        },
        getOrderItems(evt,d){
          this.order_items_json_stringfy = JSON.stringify(evt);
        }
    }))
})

    function findName(id){
      let selectbox = document.querySelector('#id_product');
      let options = selectbox.options;
      let name = "";
      for (var option of options) {
        if (option.value === id){
          name = option.text
        }
      }
      return name;
    }


   
</script>

{% endblock body %}