{% extends 'layout.html' %} {% block body %}
{% load custom_tags %}

<div class="bg-gray-100 h-full">
  <div class="bg-gray-800">
    <div
      class="rounded-tl-2xl bg-gradient-to-r from-blue-900 to-gray-800 p-2 shadow text-lg text-white"
    >
      <h2 class="font-bold pl-3">Payments</h2>
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-lg font-sans text-left text-gray-900">
      <thead class="font-medium bg-gray-300">
        <tr>
            <th scope="col" class="px-6 py-3">Company</th>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Received Payment</th>
            <th scope="col" class="px-6 py-3">Left Amount</th>
            <th scope="col" class="px-6 py-3">Total Amount</th>
            <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {%for i in payments %}

        <tr
          class="border-b {% cycle 'odd' 'even' as stripe %} {% cycle 'bg-gray-50' 'bg-gray-100' as tick %} hover:bg-gray-200"
        >
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
            {{i.company.name}}
          </th>
            <td class="px-6 py-4">{{i.date | gen_date}}</td>
            <td class="px-6 py-4">{{i.amount}}</td>
            <td class="px-6 py-4">4</td>
            <td class="px-6 py-4">3433</td>

          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Edit</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock body %}
