{% extends 'layout.html' %} 
{% load static %}

{% block body %}

<div name='products_view'  x-init="" x-data="{ isSelected: false, selectedProductId: ``, selectedProductName: ``, isDeleteButtonClicked: false }"
  class=" bg-gray-100 h-full "
>
  <div class="bg-gray-800 flex flex-row items-center justify-between overflow-auto">
    <div
      class="rounded-tl-2xl bg-gradient-to-r from-blue-900 to-gray-800 p-2 shadow text-lg text-white"
    >
      <h2 class="font-bold pl-3">Products</h2>
    </div>
    
    <div class="flex flex-row">
      <div :class='isSelected ? `` : `hidden`' @click="isDeleteButtonClicked = true;">
        {% include "./components/icon_button.html" with id="delete_button" name='delete_button' colors=colors.danger style="" href="/products/new" title="Delete" icon="./img/delete.svg" %}
      </div>
      <div :class='isSelected ? `` : `hidden`' >
        {% include "./components/icon_button.html" with id="edit_button" name='edit_button' colors=colors.primary style="" href="/products/edit/" title="Edit" icon="./img/edit.svg" %}
      </div>
      <div>
        {% include "./components/icon_button.html" with id="add_button" name='add_button' colors=colors.light style="" href="/products/new" title="New Product" icon="./img/add.svg" %}
      </div>
    </div>
  </div>
     {% include "./components/warning_alert.html"  %}

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 m-2 p-2">
   
    {%for i in products %}
    {% include "show_product.html" with product=i %}
    {% endfor %}
  </div>
</div>

{% endblock body %}
