<div 
  x-on:click="isSelected = isSelected && selectedId !== '{{product.id}}' ? true : !isSelected; selectedId = '{{product.id}}'; selectedName = '{{product.code}}_{{product.name}}';"
  :class="isSelected && selectedId === '{{product.id}}' ? 'bg-yellow-200 hover:bg-yellow-300' : 'bg-gray-200 hover:bg-gray-300'"
  id="{{product.id}}"
  class="relative py-2 px-4 rounded-xl shadow-md inline-flex justify-between cursor-pointer w-full"
>
  <div
    class="flex flex-col md:flex-row justify-between items-start w-full form-check"
  >
    <input
      :checked="isSelected && selectedId === `{{product.id}}` ? true : false"
      class="absolute right-0 top-0 m-2 form-check-input h-4 w-4 border border-gray-300"
      type="checkbox"
      name="checkbox"
      id="{{product.id}}"
    />

    {% if product.images.0.href %}
    <div class="flex flex-col justify-between items-center">
      <img
        width="120"
        style="max-width: 100%; height: auto; margin-top:.4rem;"
        src="{{product.images.0.href}}"
        alt="{{product.name}}"
      />
      <p class="text-sm">{{product.stock}} pcs.</p>
      <p class="text-sm">{{product.gr | floatformat}} gr.</p>
    </div>
    {% endif %}
    <div
      class="text-lg  px-4 flex flex-col  w-full overflow-hidden"
    >
      <span class="font-bold">{{product.code}}</span>
      <p class="text-wrap">{{product.name}}</p>
      <p class="text-wrap">{{product.description}}</p>
      {% if product.images.0.href != True %}
      <p class="">{{product.stock}} pcs.</p>
      {% endif %}
    </div>
  </div>
</div>
