<div class="py-2 px-4 bg-gray-200 rounded-2xl shadow-md hover:bg-gray-300 cursor-pointer w-full">
    <div class="flex  flex-col md:flex-row items-center justify-between">

{% if product.images.0.href %}
      <img width="80" style="max-width:100%;height:auto;" src="{{product.images.0.href}}" alt="{{product.name}}" />
{% endif %}

      <div class="text-lg py-2 px-4 flex flex-col h-full w-full">
        <p class="font-bold">{{product.code}}</p>
        <p class="">{{product.name}}</p>
        <p class="">{{product.description}}</p>
      </div>
      <div class="flex-auto"></div>
      <div class="text-lg flex flex-col items-center justify-between">
        <input type="checkbox" name="{{product.code}}_checkbox" id="{{product.code}}_checkbox">
        <p class="font-bold">Stock</p>
        <p class="">{{product.stock}}</p>        
        
      </div>
    </div>
  </div>

