<div class="bg-white border-transparent rounded-lg shadow-xl">
    <div class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
        <h3 class="font-bold uppercase text-gray-600">Table</h3>
    </div>
    <div class="p-5">
        <table class="w-full p-5 text-gray-700">
            <thead>
            <tr>
                <th class="text-left text-blue-900">Name</th>
                <th class="text-left text-blue-900">Side</th>
                <th class="text-left text-blue-900">Role</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Obi Wan Kenobi</td>
                <td>Light</td>
                <td>Jedi</td>
            </tr>
            <tr>
                <td>Greedo</td>
                <td>South</td>
                <td>Scumbag</td>
            </tr>
            <tr>
                <td>Darth Vader</td>
                <td>Dark</td>
                <td>Sith</td>
            </tr>
            </tbody>
        </table>

        <p class="py-2"><a href="#">See More issues...</a></p>

    </div>
</div>