{% comment %} parent should have isDeleteButtonClicked and selectedProductId {% endcomment %}

<div x-show="isDeleteButtonClicked" class="flex justify-center p-3 z-20">
  <div class="w-1/2">
    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
      You are deleting an item.
    </div>
    <div
      class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
    >
      <div class="flex flex-row justify-between items-center gap-8">
        <p x-text="'Do you want to delete? '+selectedProductName"></p>
        <div class="flex-1"></div>
        <button @click="isDeleteButtonClicked = false;">
          <p class="px-3 py-1 text-white bg-red-500 rounded-xl">No</p>
        </button>
        <a :href="'./delete/'+selectedProductId"
          ><p class="px-3 py-1 text-white bg-blue-500 rounded-xl">Yes</p></a
        >
      </div>
    </div>
  </div>
</div>
