{% load static %}

<a id="{{id}}" name="{{name}}" x-data="{name: '{{name}}'}" :href="name == 'edit_product_button' ? './edit/'+selectedProductId : name == 'edit_order_button' ? './edit/'+selectedOrderId : name == 'delete_button' ? '#' : '/{{href}}'  " class="flex items-center px-4 py-2 mx-4 rounded-md {{ colors }} {{ style }}" href="{{href}}" >
    <img style="max-width:100%;height:auto;" width="20px" src="{% static icon %}" alt="home"></img>
    <span class="mx-2 font-medium">{{title}}</span>
</a>